<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>WishList:MyWishlist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrtiy="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">
    <img src="/static/logo.jpg" width="100" height="50" alt="">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/my_list">Мой вишлист<span class="sr-only"></span></a>
      </li>
            </ul>
      <form method="post" action="/logout">
        {% csrf_token %}
        <input type="submit" name="LogOut" class="btn btn-outline-primary" value="Выйти">
      </form>
  </div>
</nav>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
    </div>
      {% if list_of_wishes %}
      <ul class="list-group">
      {% for wish in list_of_wishes %}
          <li class="list-group-item">{{ wish.name }} <form action="{% url 'wishes:delete' wish.id %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Удалить">
        </form></li>
      {% endfor %}
      </ul>
    {% else %}
      <p>You have not added any wishes.</p>
    {% endif %}
    <div class="col">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <input type="text" placeholder="Введите желание" class="form-control" id="exampleInputPassword1" name="wish"/><br>
       </div>
      <input type="submit" class="btn btn-primary" value="Добавить в вишлист">
    </form>
    </div>
  </div>
</body>
</html>
